
.affix {
      top: 0;
      width: 100%; 
      z-index: 9000;
}

.affix + .container-fluid {
    padding-top: 70px;
}
.nav-wrapper {
      min-height:52px;
}
.navbar {
   -webkit-backface-visibility: hidden;
}
.panel-body {
  padding: 0;
}


th {
  text-align : center;
}

td {
  text-align : center;
}

td.align-left {
  text-align: left;
}
td.align-right {
  text-align: right;
}
td.cut-td{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow:hidden;
}


.not_fill {
  animation: blink .5s step-end infinite alternate;
  border-style: solid;
  border-width: 3px;
}
@keyframes blink {
  50% {
      border-color: red;
      border-style: solid;
  }
}
@-webkit-keyframes blink {
  50% {
      border-color: red;
      border-style: solid;
  }
}
@-moz-keyframes blink {
  50% {
      border-color: red;
      border-style: solid;
  }
}
@-o-keyframes blink {
  50% {
      border-color: red;
      border-style: solid;
  }
}
.loading {
    border: 3px solid #3a3;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-animation: loading 0.1s infinite linear;
    -moz-animation: loading 0.1s infinite linear;
    -o-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
}

  @-webkit-keyframes loading {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes loading {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-o-keyframes loading {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg);
    }
  }
  @keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }